<div class="toast-container">
    @for (toast of toastSvc.toasts(); track toast.id) {
    <div class="toast" [class]="'toast-' + toast.type" (click)="toastSvc.dismiss(toast.id)">
        <span class="toast-icon">
        @switch (toast.type) {
        @case ('success') {
        <i class="fa-solid fa-circle-check"></i>
        }
        @case ('error') {
        <i class="fa-solid fa-circle-xmark"></i>
        }
        @case ('warning') {
        <i class="fa-solid fa-triangle-exclamation"></i>
        }
        @default {
        <i class="fa-solid fa-circle-info"></i>
        }
        }
        </span>
        <span class="toast-msg">{{ toast.message }}</span>
        <button class="toast-close" (click)="toastSvc.dismiss(toast.id)">×</button>
    </div>
    }
</div>